* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: var(--color-bg);
}

.header__menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu-link {
  display: inline-block;
  padding: 2rem 2rem;
  color: var(--text-color-light);
}

h1 {
  text-align: center;
  margin-top: 0;
}

.main {
  flex-grow: 1;
  padding: 2rem;
  text-align: left;
}

footer {
  padding: 2rem 0;
}

.active {
  color: var(--color-active);
}

.active:hover {
  text-decoration: none;
}

.table {
  width: 100%;
  height: 100%;
  cursor: default;
}

.table__head::after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
}

.table__data {
  width: 25%;
}

.table__data--up {
  color: var(--value-up);
}

.table__data--down {
  color: var(--value-down);
}

.table__row {
  cursor: pointer;
}

.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  list-style: none;
}

.tabs__item {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--text-color-light);
}

.tabs__item--active {
  color: var(--color-active);
  border-color: var(--color-active);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  padding: 1rem;
  background-color: var(--background-color-light);
  border-radius: 12px;
  border: 1px solid lightgrey;
  color: var(--text-color);
  transform: translate(-50%, -50%);
}

.modal__close {
  margin-top: 2rem;
}

.loading {
  text-align: center;
}
